input {
  padding: 10px 0;
  width: 100px;
  text-align: center;
  box-shadow: 0 5px #999;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
}

@media screen and (max-width: 1000px) {
  input {
    height: 40px;
    width: 80px;
    margin-bottom: 3px;
    box-shadow: 0 3px #999;
  }
}
