button {
  height: 50px;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 300;
  box-shadow: 0 9px #999;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
button:active {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media screen and (max-width: 1000px) {
  button {
    height: 40px;
    width: 80px;
  }
}
